body, html {
    margin: 0px;
    padding: 0px;
    color: #4a4a4a;
    height: 100%;
    width: 100%;
}

label {
	cursor: pointer;
}

.header-title {
    display: flex;
    align-items: center;
}

#header-get-documentation {
    margin-left: 30px;
    cursor: pointer;
}

.container-header-top {
    background-color: #0e1271;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-header {
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
}

.text-white,
.text-white:hover,
.text-white:active,
.text-white:focus {
	color: #fff;
}

.container-header {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    border: 1px solid#ccc;
}

.block-header {
	height: 100%;
	flex-basis: 50%;
	display: flex;
    flex-wrap: wrap;
}

.block-header-action {
	width: 240px;
	margin-left: 10px;
}

.block-form {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
}

.block-form-half {
	flex-basis: 50%;
}

.block-form-full {
	flex-basis: 100%;
}

.block-form-label {

}

.block-form-input {
	position: relative;

}

.block-form-input-double {
	display: flex;
    justify-content: space-between;
}

.block-form-input-checkbox {
	margin-right: 10px;
}

.block-form-checkbox {
    flex-direction: row;
    align-items: center;
}

.block-form-checkbox label {
	margin-bottom: 0px;
}

.input-standart {
	width: 100%;
	height: 40px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.checkbox-standart {

}

.block-form-input-half {
	display: flex;
    align-items: center;
    flex-basis: 50%;
}

.block-form-input-half label {
	margin: 0px 10px;
}

.header-action-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #eeeeee;
	padding: 10px 20px;
	width: 220px;
}

.header-action-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.header-action-item:hover,
.header-action-item:active,
.header-action-item:focus {
    text-decoration: underline;
}

.action-icon {
	width: 30px;
	margin-right: 10px;
}

.action-label {
	font-weight: bold;
}

.btn-standart {
	min-width: 190px;
    padding: 0px 30px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    margin: 10px;
    height: 40px;
    font-weight: bold;
}

.btn-blue {
	color: #fff;
	background-color: #0e1271;
}

.block-header-button {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 220px;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
	background-color: #244397;
}

.container-content {
	padding-top: 40px;
	position: relative;
}

.content-header-wrapper {
	
}

.content-header-separator {
	width: 50px;
    height: 2px;
    background-color: #0e1271;
}

.content-header {
	margin: 0px;
	padding-bottom: 38px;
}

.content-table {
	width: 100%;
}

.content-table thead {
	background-color: #0e1271;
    color: #fff;
    font-weight: bold;
}

.content-table td {
	padding: 10px 20px;
	border: 1px solid#ccc;
	position: relative;
}

.table-button-wrapper {
	position: relative;
}

.btn-table {
	position: absolute;
	right: 0px;
	bottom: 10px;
	margin: 0px;
}

.responsive-table-text {
	height: 20px;
	overflow-y: hidden;
	min-height: 20px;
}

.responsive-table-row {
	position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 9px;
    cursor: row-resize;
    z-index: 10;
}

.responsive-table-col {
	position: absolute;
    right: -5px;
    top: 0px;
    width: 9px;
    height: 100%;
    /*background: red;
    cursor: col-resize;*/
    z-index: 10;
}

.container-login {
    height: 100%;
    width: 100%;
    display: flex;
}

.block-login-wrap {
    margin: auto;
}

.block-login-title {
    background-color: #0e1271;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.block-login-content {
    background-color: #eeeeee;
    border: 1px solid#ccc;
    padding: 20px;
}

.container-panagination ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-panagination ul li {
    margin: 5px;
}

.container-panagination ul li a {
    border: 1px solid#ccc;
    padding: 10px;
    background: #f4f4f4;
    color: #4a4a4a;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.container-panagination ul li.active a {
    background: #0e1271;
    color: #fff;
    cursor: pointer;
}

.container-panagination ul li a:hover,
.container-panagination ul li a:focus,
.container-panagination ul li a:active {
    background: #0e1271;
    color: #fff;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0px;
}

.single-record-link {
    cursor: pointer;
}

.select2-container--default .select2-selection--single {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

/* single */
.content-block {
    margin-bottom: 40px;
}

.content-block-header {
    padding: 10px 20px;
    background: #0e1271;
}

.content-block-header h3 {
    margin: 0px;
}

.record-table-row-title {
    font-weight: bold;
}

.record-table td {
    padding: 10px 20px;
    border: 1px solid#ccc;
    position: relative;
}

.record-table {
    width: 100%;
}

.record-table-list-wrap {
    margin-bottom: 10px;
}

.text-bold {
    font-weight: bold;
}

.container-panagination {
    margin-bottom: 40px;
}

.select-count-row-wrapper {
    position: absolute;
    right: 240px;
    bottom: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
}

.select-count-row-wrapper .select-count-row-label {
    margin-right: 10px;
}

.content-table-head {
    cursor: pointer;
}

.content-table-sort-desc::before {
    content: "";
    background-image: url("images/bottom-arrow-icon.png");
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    z-index: 10;
}

.content-table-sort-asc::before {
    content: "";
    background-image: url("images/top-arrow-icon.png");
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    z-index: 10;
}

@media print {
    header {
        display: none;
    }
    .table-button-wrapper {
        display: none;
    }
    .container-panagination {
        display: none;
    }
}

.disabled,
.disabled:hover,
.disabled:active,
.disabled:focus,
.disabled a,
.disabled a:hover,
.disabled a:active,
.disabled a:focus {
    color: #c1c1c1;
    text-decoration: none;
    cursor: default;
}

