.popover-wrapper {
	position: relative;
}

.container-popover {
    background-color: #eeeeee;
    border: 1px solid#ccc;
    padding: 20px;
    position: absolute;
    z-index: 500;
    max-height: 600px;
}

.popover-right {
	right: 0px;
}

.popover-left {
	left: 0px;	
}

.block-list-item {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	min-width: 190px;
    padding: 5px 0px;
}

.block-list-item input {
	margin-top: 0px;
	margin-right: 10px;
}

.block-list-item label {
	margin-bottom: 0px; 
}

.block-list-title {
	font-weight: bold;
}

.block-list-item-label {
    color: #fff;
    padding: 2px 10px;
    border-radius: 3px;
}