.res-table-container {
	transition: 0.5s;
    -webkit-transition: 0.5s;
}

.res-table-header {
	position: relative;
	display: flex;
	height: 61px;
}

.col-res-table-head {
    padding: 10px 20px;
    background: #0e1271;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 100;
    height: 61px;
    opacity: 1;
}

.head-control {
    position: absolute;
    z-index: 200;
    width: 40px;
    height: 40px;
    cursor: all-scroll;
    right: -40px;
    top: 9px;
    background-color: #ffffff00;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background-image: url(./images/res-table/control-square.png);
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.col-res-table-head:hover .head-control {
	right: 10px;
}

.res-table-body-row {
	display: flex;
	border-top: 0px;
	min-height: 41px;
	position: relative;
}

.cell-control {
    content: "";
    position: absolute;
    z-index: 200;
    width: 10px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    right: -10px;
    background-color: #ffffff00;
    cursor: col-resize;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    background-image: url(./images/res-table/control-vertical.png);
    background-position: center;
    background-size: 10px 40px;
    background-repeat: no-repeat;
}

.res-table-body-cell {
	position: absolute;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: white;
	-webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    z-index: 100;
    opacity: 1;
}

.res-table-body-cell:hover .cell-control {
	right: 2px;
}

.cell-control-vertical {
    background: #ffffff00;
    height: 10px;
    position: absolute;
    z-index: 200;
    width: 40px;
    left: 50%;
    bottom: -10px;
    margin-left: -20px;
    cursor: row-resize;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    background-image: url(./images/res-table/control-horisontal.png);
    background-position: center;
    background-size: 40px 10px;
    background-repeat: no-repeat;
}

.res-table-body-cell:hover .cell-control-vertical {
	bottom: 2px;
}

.res-table-content {
	height: 40px;
	min-height: 40px;
    overflow: hidden;
    padding: 10px 20px 0px 20px;
}

.res-table-content-hide {
	height: 10px;
    background: #ffffffa3;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.fly {
	-webkit-transition: 0s;
    transition: 0s;
}

.fly .head-control {
	right: 10px;
}

.change-width {
	-webkit-transition: 0s;
    transition: 0s;
}

.cell-control-disabled {
	background-image: url(./images/res-table/control-vertical-to-left.png); 
}

.res-table-panel-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 190px;
    padding: 5px 0;
}

input[type="checkbox"].res-table-panel-checkbox {
    margin-right: 10px;
    margin-top: 0px;
}

.res-table-panel-label {
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}