﻿@using OldRecordsService.Models.RecordModels
@using PagedList.Mvc;

@model RecordListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/bootstrap-css")
    @Styles.Render("~/Content/main-css")
</head>
<body>

    <header>

        <div class="container-header-top">
            <div class="header-title">
                <h3 class="main-header text-white">@ViewBag.Title</h3>
                <a id="header-get-documentation" class="text-white">Скачать документацию</a>
            </div>
            <div class="header-login">
                <span class="text-white">@Model.UserLogin</span>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="text-white">Выйти</a>
                }
            </div>
        </div>

        <div class="container-header">

            <div class="block-header">

                <div class="block-form block-form-full">
                    <div class="block-form-label">
                        <label for="search-field-vacancy">Вакансия</label>
                    </div>
                    <div class="block-form-input">
                        <select id="search-field-vacancy" name="search-field-vacancy" multiple="multiple">
                            @foreach (RecordViewModel vacancy in Model.Vacancies)
                            {
                                string selected = "";
                                if (Model.Filters.Vacancies.Contains(vacancy.Vacancy))
                                {
                                    selected = "selected='selected'";
                                }
                                <option @selected value="@vacancy.Id">@vacancy.Vacancy</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="block-form block-form-full">
                    <div class="block-form-label">
                        <label for="search-field-status">Статус</label>
                    </div>
                    <div class="block-form-input">
                        <select id="search-field-status" name="search-field-status" multiple="multiple">
                            @foreach (StatusViewModel status in Model.Statuses)
                            {
                                string selected = "";
                                if (Model.Filters.Statuses.Contains(status.Status))
                                {
                                    selected = "selected='selected'";
                                }
                                <option @selected value="@status.Id">@status.Status</option>
                            }
                        </select>
                    </div>
                </div>

            </div>

            <div class="block-header">

                <div class="block-form block-form-full">
                    <div class="block-form-label">
                        <label for="search-field-date-from">Поиск по дате</label>
                    </div>
                    <div class="block-form-input-double">
                        <div class="block-form-input block-form-input-half">
                            <label for="search-field-date-from">от</label>
                            <input id="search-field-date-from" class="input-standart" type="date" name="search-field-date-from" value="@Model.Filters.DateFrom">
                        </div>
                        <div class="block-form-input block-form-input-half">
                            <label for="search-field-date-to">до</label>
                            <input id="search-field-date-to" class="input-standart" type="date" name="search-field-date-to" value="@Model.Filters.DateTo">
                        </div>
                    </div>
                </div>

                <div class="block-form block-form-checkbox block-form-full">
                    <div class="block-form-input-checkbox">
                        @{
                            string checkedStr = "";
                            if (Model.Filters.ShowOldRecords)
                            {
                                checkedStr = "checked";
                            }
                        }
                        <input id="search-field-old" class="checkbox-standart" type="checkbox" name="search-field-old" @checkedStr>
                    </div>
                    <div class="block-form-label">
                        <label for="search-field-old">Показывать резюме до 2012 года</label>
                    </div>
                </div>

                <div class="block-form block-form-full">
                    <div class="block-form-label">
                        <label for="search-field-common">Поиск по всем полям</label>
                    </div>
                    <div class="block-form-input">
                        <input id="search-field-common" class="input-standart" type="text" name="search-field-common" value="@Model.Filters.Search">
                    </div>
                </div>

            </div>

            <div class="block-header-button">
                <button id="button-submit" class="btn-standart btn-blue">Поиск</button>
            </div>

            <div class="block-header-action">
                <div class="header-action-list">
                    <div id="header-action-print" class="header-action-item">
                        <img class="action-icon" src="~/Content/images/print-icon.png">
                        <div class="action-label">
                            <span>Печать страницы</span>
                        </div>
                    </div>
                    <div id="header-action-excel" class="header-action-item">
                        <img class="action-icon" src="~/Content/images/excel-icon.png">
                        <div class="action-label">
                            <span>Экспорт в Excel</span>
                        </div>
                    </div>
                    <div id="header-action-word" class="header-action-item">
                        <img class="action-icon" src="~/Content/images/word-icon.png">
                        <div class="action-label">
                            <span>Экспорт в Word</span>
                        </div>
                    </div>
                    <div id="header-action-pdf" class="header-action-item">
                        <img class="action-icon" src="~/Content/images/pdf-icon.png">
                        <div class="action-label">
                            <span>Экспорт в PDF</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </header>

    <div>
        @RenderBody()
    </div>

    <div class="hide">
        <div id="page-value">@Model.Filters.Page</div>
        <div id="page-size-value">@Model.Filters.PageSize</div>
        <div id="records-count-value">@Model.CountRecords</div>
        <div id="records-sort-order">@Model.Filters.SortOrder</div>
        <div id="records-sort-direction">@Model.Filters.SortDirection</div>
        <div id="is-single-record">@Model.isSingleRecord.ToString()</div>
        @{
            string singleRecordId = "";
            if (Model.isSingleRecord) {
                singleRecordId = Model.SingleRecord.Id.ToString();
            }
        }
        <div id="single-record-id">@singleRecordId</div>
        <div id="res-table-positions">@Model.Filters.PositionTableCols</div>
        <div id="res-table-visible">@Model.Filters.ShowTableCols</div>
        <div id="res-table-width">@Model.Filters.WidthTableCols</div>
    </div>
</body>

</html>
@Scripts.Render("~/bundles/jquery-js")
@Scripts.Render("~/bundles/bootstrap-js")
@Scripts.Render("~/bundles/widgets-js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>