﻿@using OldRecordsService.Models
@model LoginViewModel
@{
    Layout = null;
}

@{
    ViewBag.Title = "Архив резюме";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Архив резюме</title>
    @Styles.Render("~/Content/bootstrap-css")
    @Styles.Render("~/Content/main-css")
</head>
<body>
    <div class="container-login">
        <div class="block-login-wrap">
            <div class="block-login-title">
                <h3 class="main-header text-white">Вход</h3>
            </div>
            <div class="block-login-content">
                <div class="container-fluid">
                    <div class="row">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <input type="submit" value="Выполнить вход" class="btn-standart btn-blue" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/jquery-js")
@Scripts.Render("~/bundles/bootstrap-js")
</html>
