﻿@using OldRecordsService.Models.RecordModels
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
}

@{
    ViewBag.Title = "Резюме не найдено";
}


<div class="container-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header-wrapper">
                    <h1 class="content-header">Резюме не найдено</h1>
                    <div class="content-header-separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>


