﻿@using OldRecordsService.Models.RecordModels
@using PagedList.Mvc;

@model RecordListViewModel

@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
}

@{
    ViewBag.Title = "Архив резюме";
}


<div class="container-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header-wrapper">
                    <h1 class="content-header">Результаты поиска (Найдено резюме: @Model.CountRecords шт)</h1>
                    <div class="content-header-separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="table-button-wrapper">
                    <div class="popover-wrapper">
                        <div class="select-count-row-wrapper">
                            <div class="select-count-row-label">
                                <label for="select-count-row">Количество строк</label>
                            </div>
                            @{
                            string selected20 = "";
                            string selected50 = "";
                            string selected100 = "";
                            string selectedAll = "";
                            switch (Model.Filters.PageSize)
                            {
                                case 20:
                                    selected20 = "selected";
                                    break;
                                case 50:
                                    selected50 = "selected";
                                    break;
                                case 100:
                                    selected100 = "selected";
                                    break;
                                default:
                                    selectedAll = "selected";
                                    break;
                            }
                            }
                            <select id="select-count-row" name="select-count-row">
                                <option @selected20 value="count-row-20">20</option>
                                <option @selected50 value="count-row-50">50</option>
                                <option @selected100 value="count-row-100">100</option>
                                <option @selectedAll value="count-row-all">Все</option>
                            </select>
                        </div>
                        <button id="popover-button-0" class="btn-table btn-standart btn-blue">Настроить столбцы</button>
                        <div id="container-popover-0" class="container-popover popover-right hide">
                            <div class="res-table-panel">
                                <div class="res-table-panel-block">
                                    <div class="res-table-panel-title block-list-title">
                                        <span>Показывать столбцы:</span>
                                    </div>
                                    <div class="res-table-panel-col-hide res-table-panel-list">
                                        <!-- List of checkbox to hide col -->
                                    </div>
                                    <button id="res-table-action-default" class="btn-standart btn-blue">Установить по умолчанию</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="res-table-container">

                    <div class="res-table-header">
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">№</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Должность</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">ФИО</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Образование</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Возраст</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Зарплата</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Email</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Телефон</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Комментарий</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Дата отправки</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Комментарий от Komatsu</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Армия</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Водитель</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Статус</span>
                        </div>
                        <div class="col-res-table-head content-table-head">
                            <div class="head-control"></div>
                            <span class="res-head-title">Посмотреть</span>
                        </div>
                    </div>

                    <div class="res-table-body">
                        @{
                        int number = 0;
                        int numberRow = Model.Filters.Page * Model.Filters.PageSize + 1 - Model.Filters.PageSize;
                        }
                        @foreach (RecordViewModel record in Model.Records)
                        {
                        <div class="res-table-body-row">
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@numberRow</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Vacancy</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Title @record.FirstName @record.SurName</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.EducationAvailable.Name</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Age</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Salary</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Email</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Phone</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Comment</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            @{
                            string sendDate = "Дата не известна, отправлено до 2012 года";
                            if (record.SendDate != null)
                            {
                                sendDate = record.SendDate.Value.ToString("d");
                            }
                            }
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@sendDate</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.KomatsuComment</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Army</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Driver</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <span>@record.Status.Status</span>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                            <div class="res-table-body-cell">
                                <div class="cell-control"></div>
                                <div class="res-table-content">
                                    <a href="" class="single-record-link" id-record="@record.Id">Посмотреть</a>
                                </div>
                                <div class="res-table-content-hide"></div>
                                <div class="cell-control-vertical"></div>
                            </div>
                        </div>
                        number = number + 1;
                        numberRow = numberRow + 1;
                        }
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-panagination">
                    <ul class="panagination-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
