﻿@using OldRecordsService.Models.RecordModels
@using PagedList.Mvc;

@model RecordListViewModel

@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
}

@{
    ViewBag.Title = "Просмотр резюме";
}


<div class="container-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header-wrapper">
                    <h1 class="content-header">@Model.SingleRecord.Title @Model.SingleRecord.FirstName @Model.SingleRecord.SurName</h1>
                    <div class="content-header-separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="content-block">
                    <div class="content-block-header">
                        <h3 class="text-white">Основные данные</h3>
                    </div>
                    <div class="content-block-wrapper">
                        <table class="record-table">
                            <colgroup>
                                <col width="200">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Должность</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Vacancy</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>ID резюме</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Id</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Дата отправки</span>
                                    </td>
                                    <td>
                                        @{ 
                                            string sendDate = "Дата не известна, отправлено до 2012 года";
                                            if (Model.SingleRecord.SendDate != null)
                                            {
                                                sendDate = Model.SingleRecord.SendDate.Value.ToString("d");
                                            }
                                        }
                                        <span>@sendDate</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Опыт работы</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.ExperienceAvailable.Period</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Жалаемая зарплата</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Salary</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Возраст</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Age</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Email</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Email</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Телефон</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Phone</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="content-block">
                    <div class="content-block-header">
                        <h3 class="text-white">Образование</h3>
                    </div>
                    <div class="content-block-wrapper">
                        <table class="record-table">
                            <colgroup>
                                <col width="200">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Образование</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.EducationAvailable.Name</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Учебные заведения</span>
                                    </td>
                                    <td>
                                        @foreach (EducationViewModel education in Model.SingleRecord.Education)
                                        {
                                            <div class="record-table-list-wrap">
                                                <div class="record-table-list-item text-bold">
                                                    @education.Name
                                                </div>
                                                <div class="record-table-list-item">
                                                    @education.EndYear
                                                </div>
                                                <div class="record-table-list-item">
                                                    @education.FacultyName
                                                </div>
                                                <div class="record-table-list-item">
                                                    @education.Diploma
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Удостоверение по охране труда</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.OccupationalSafetyHealth</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Водительское удостоверение</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Driver</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="content-block">
                    <div class="content-block-header">
                        <h3 class="text-white">Опыт работы</h3>
                    </div>
                    <div class="content-block-wrapper">
                        <table class="record-table">
                            <colgroup>
                                <col width="200">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Предыдущие места работы</span>
                                    </td>
                                    <td>
                                        @foreach (ExperienceViewModel experience in Model.SingleRecord.Experience)
                                        {
                                            <div class="record-table-list-wrap">
                                                <div class="record-table-list-item text-bold">
                                                    <span>@experience.Organisation</span>
                                                </div>
                                                <div class="record-table-list-item">
                                                    @{ 
                                                        string endDateLabel = "настоящее время";
                                                        if (experience.EndDate != null)
                                                        {
                                                            endDateLabel = experience.EndDate.Value.ToString("d");
                                                        }
                                                    }
                                                    <span>C @experience.BeginDate.Value.ToString("d") по @endDateLabel</span>
                                                </div>
                                                <div class="record-table-list-item">
                                                    <span>Должность: @experience.Position</span>
                                                </div>
                                                <div class="record-table-list-item">
                                                    <span>Обязанности: @experience.Duty</span>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="content-block">
                    <div class="content-block-header">
                        <h3 class="text-white">Дополнительно</h3>
                    </div>
                    <div class="content-block-wrapper">
                        <table class="record-table">
                            <colgroup>
                                <col width="200">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Комментарий</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Comment</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Хобби, увлечения</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Hobby</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Спорт</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Sport</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Спортивные достижения</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.SportProgress</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Служба в армии</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.Army</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Комментарий KOMATSU</span>
                                    </td>
                                    <td>
                                        <span>@Model.SingleRecord.KomatsuComment</span>
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Языки</span>
                                    </td>
                                    <td>
                                        @foreach (LanguageViewModel language in Model.SingleRecord.Languages)
                                        {
                                            <div class="record-table-list-wrap">
                                                <div class="record-table-list-item text-bold">
                                                    <span>@language.Name</span>
                                                </div>
                                                <div class="record-table-list-item">
                                                    <span>@language.Extent</span>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                                <tr class="record-table-row">
                                    <td class="record-table-row-title">
                                        <span>Курсы</span>
                                    </td>
                                    <td>
                                        @foreach (TestViewModel test in Model.SingleRecord.Tests)
                                        {
                                            <div class="record-table-list-wrap">
                                                <div class="record-table-list-item text-bold">
                                                    <span>@test.Organisation</span>
                                                </div>
                                                <div class="record-table-list-item">
                                                    <span>@test.EndYear</span>
                                                </div>
                                                <div class="record-table-list-item">
                                                    <span>Название курса: @test.Name</span>
                                                </div>
                                                <div class="record-table-list-item">
                                                    <span>Результат: @test.Result</span>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


