﻿@model OldRecordsService.Models.EmailModels.ReportEmailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.Subject</h1>
        <p></p>
    </div>
</body>
</html>
